
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPost</title>
</head>
<body>
    <h1> Welcome @ViewBag.Username, your password is: @ViewBag.Password.</h1>
</body>
</html>
